.wrapper-first-scroll {
  position: relative;
}

.first-screen {
  position: relative;

  &__text-wrapper {
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
      width: 100%;
      height: 400px;
      background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.53) 100%);
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    margin: 0;
    padding-bottom: 70px;
    font-family: "DIN2014-Narrow";
    font-weight: bold;
    font-size: 566px;
    line-height: 576px;
    text-align: center;
    color: $font-color-brown;

    @media screen and (max-width: 1300px) {
      font-size: 450px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 32px;
      bottom: 0;
      width: 97.2%;
      height: 67px;
      background-color: $font-color-brown;
    }
  }
}

.pator-front {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 8;
  max-width: 1410px;
  width: 100%;
  transform: translate(-53%, -50%);
  transition: opacity 0.3s;
  pointer-events: none;

  @media screen and (max-height: 810px) {
    max-width: 1000px;
  }

  &--open {
    opacity: 0;
  }

  &--open-side {
    opacity: 0;
  }
}

.section {
  position: relative;
  height: 1100px;

  &--front-close {
    padding-top: 100px;

    &::before {
      content: "";
      position: absolute;
      top: 38%;
      left: 53%;
      width: 928px;
      height: 928px;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #ccb875;
    }
  }

  &--front-open {
    padding-top: 100px;
  }

  &--front-open-side {
    padding-top: 100px;

    //&::before {
    //  content: "";
    //  position: absolute;
    //  top: 48%;
    //  left: 52%;
    //  width: 928px;
    //  height: 928px;
    //  transform: translate(-50%, -50%);
    //  border-radius: 50%;
    //  background-color: #75B1CC;
    //}
  }

  .circle {
    position: absolute;
    top: 50%;
    left: 53%;
    width: 928px;
    height: 928px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #75B1CC;

    &--2 {
      position: fixed;
      opacity: 0;
      z-index: 2;
    }

    .rotate-btn {
      position: absolute;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      border: none;
      background-color: transparent;
      cursor: pointer;
      outline: none;

      &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          font-family: "RobotoCondensed";
          font-weight: 400;
          font-size: 9px;
          line-height: 32px;
          text-align: left;
          color: #ffffff;
        }
      }
    }
  }

  &__wrapper {
    position: relative;
    max-width: 1560px;
    margin: auto;
    height: 100%;
  }
}

.pator-el {
  position: fixed;
  z-index: 9;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  &--1 {
    top: 66px;
    left: 210px;

    .pator-el__title {
      left: 50%;
      width: 300px;
    }
  }

  &--2 {
    top: 105px;
    right: 102px;
    transition-delay: 200ms;

    .pator-el__title {
      right: 50%;
      width: 210px;
    }
  }

  &--3 {
    left: 185px;
    bottom: 7px;
    transition-delay: 400ms;

    .pator-el__title {
      top: 54%;
      left: 50%;
      width: 350px;
    }
  }

  &--4 {
    bottom: -46px;
    right: 173px;
    transition-delay: 500ms;

    .pator-el__title {
      top: 54%;
      right: 77%;
    }
  }

  &-open {
    &--1 {
      top: 120px;
      left: 212px;

      .pator-el__title {
        right: -50%;
      }
    }

    &--2 {
      bottom: 75px;
      right: 50px;

      .pator-el__title {
        top: 193px;
        left: -50%;
        width: 390px;
      }
    }

    &--3 {
      left: 355px;
      bottom: 67px;

      .pator-el__title {
        top: 190px;
        right: -50%;
      }
    }

    &-side {
      &--1 {
        top: 0;
        left: 0;

        .pator-el__title {
          left: 50%;
          width: 415px;
        }
      }

      &--2 {
        top: 10px;
        right: 0;

        .pator-el__title {
          right: 50%;
          width: 415px;
        }
      }

      &--3 {
        right: 105px;
        bottom: 100px;

        .pator-el__title {
          top: 185px;
          right: 50%;
          width: 390px;
        }
      }
    }
  }

  &--left {
    .pator-el__button {
      right: -14px;
    }
  }

  &--right {
    .pator-el__button {
      top: 41.9%;
      left: -7px;
      transform: rotate(180deg);
    }
  }

  &__title {
    position: absolute;
    top: 92px;
    z-index: 3;

    span {
      display: inline-block;
      padding: 3px 16px 2px;
      background: #ffffff;
      border-radius: 6px;
      border: 2px solid $color-black;

      font-family: "RobotoCondensed";
      font-weight: bold;
      font-size: 26px;
      line-height: 32px;
      text-align: left;
      text-transform: uppercase;
      color: $color-black;
    }
  }

  &__button {
    position: absolute;
    top: 41.6%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #000000;
    background: #ffffff;
    outline-width: 0;
    cursor: pointer;

    svg {
      position: relative;
      top: 1px;
      left: 0;
      width: 21px;
      height: auto;
    }
  }

  img {
    position: relative;
    z-index: 2;
  }
}

.svg-line {
  position: absolute;
  z-index: 1;
  pointer-events: none;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.svg-line-1 {
  top: 158px;
  left: 100%;
}

.svg-line-2 {
  top: 158px;
  right: 100%;
}

.svg-line-3 {
  top: -30px;
  left: 100%;
}

.svg-line-4 {
  top: -158px;
  right: 100%;
}

.svg-line-open-1 {
  top: 60%;
  left: 100%;
}

.svg-line-open-2 {
  top: -64%;
  right: 57%;
}

.svg-line-open-3 {
  top: -29%;
  left: 100%;
}

.svg-line-open-side-1 {
  top: 45%;
  left: 72%;
}

.svg-line-open-side-2 {
  top: 47%;
  right: 31%;
}

.svg-line-open-side-3 {
  top: -18%;
  left: -129%;
}

.scrollmagic-pin-spacer {
  pointer-events: none;
}
