.footer {
  padding-top: 105px;
  padding-bottom: 15px;

  &__container {
    display: flex;
    align-items: center;
    max-width: 1640px;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  .main-menu {
    margin-right: 25px;
    margin-left: auto;

    @media screen and (max-width: 600px) {
      margin: 0 0 30px 0;
    }
  }

  .header__logo {
    @media screen and (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.copyright {
  width: 125px;
  margin: 0 auto;
  font-style: italic;
  font-size: 11px;
  color: #106FC2;

  p {
    margin: 0;
  }

  a {
    font-style: normal;
    font-weight: 600;
    color: #106FC2;
  }
}
