<div id="conditions" class="buy">
  <div class="container">
    <h2 class="section-title">
      Варианты покупки
    </h2>

    <p class="section-description">Выбор удобного способа</p>

    <div class="buy__varinate">
      <div class="buy__item">
        <div class="buy-title">
          Самовывоз со скалада
        </div>

        <p class="buy-text">Вы&nbsp;можете забрать ПАТОР со&nbsp;склада в&nbsp;г. Краснодаре, или с&nbsp;дилерских сладов расположенных по&nbsp;всей территории Российской Федерации и&nbsp;в&nbsp;Казахстане.</p>
      </div>

      <div class="buy__item">
        <div class="buy-title">
          Доставка до места
        </div>

        <p class="buy-text">Организуем быструю доставку ПАТОРа в&nbsp;Москву, Санкт-Петербург, Новосибирск, Екатеринбург, Нижний Новгород, Казань, Челябинск, Омск, Самару, Ростов-на-Дону и&nbsp;другие города России.</p>
      </div>
    </div>

    <div class="buy__btn">
      <button class="main-btn go-to-form" type="button">Обсудить условия</button>
    </div>

    <div class="buy__info">
      <figure class="buy__logo">
        <img width="249" src="img/svg/meti-logo.svg" alt="meti" title="meti">
      </figure>

      <span class="buy__about-title">О КОМПАНИИ</span>

      <h3 class="buy__title">ПРОИЗВОДСТВО СЕЛЬХОЗТЕХНИКИ</h3>

      <p class="buy__about">
        Наш завод работает с&nbsp;1934&nbsp;года. С&nbsp;2020 года налажено производство новой техники METI.
      </p>

      <address id="contacts" class="buy__address">
        Наш адрес: Краснодарский край, ст. Староминская, ул. Островского, д. 2.Телефоны: <a href="tel:+78615357070">+7 86153 5-70-70</a>; <a href="tel:+79212521404">+7 921 252-14-04</a> Email: <a href="mailto:meti-agro@mail.ru">meti-agro@mail.ru</a>
      </address>
    </div>
  </div>
</div>
