<section class="equipment">
  <div class="equipment__wrapper">
    <div class="equipment__img">
      <img src="img/content/pator-side.png" alt="">
    </div>
    <div class="equipment__content">
      <div class="section-title">
        Комплектация
      </div>

      <p class="section-description">
        Базовый набор опций ПАТОР С
      </p>

      <ul class="equipment-list">
        <li class="equipment-list__item">
          <div class="equipment-list__name">Пластиковая ёмкость</div>
          <div class="equipment-list__text">для жидкостей 1,9 м.куб.</div>
        </li>
        <li class="equipment-list__item">
          <div class="equipment-list__name">Моечная установка </div>
          <div class="equipment-list__text">с регулятором давления до 200 Bar;</div>
        </li>
        <li class="equipment-list__item">
          <div class="equipment-list__name">Воздушный компрессор</div>
          <div class="equipment-list__text">рабочее давление до 10 Bar, производительность 630–1000 л/мин.;</div>
        </li>
        <li class="equipment-list__item">
          <div class="equipment-list__name">Сварочная установка, </div>
          <div class="equipment-list__text">мощность 6,5 Квт., сварочный ток 230 А;</div>
        </li>
        <li class="equipment-list__item">
          <div class="equipment-list__name">Пневмоинструмент</div>
          <div class="equipment-list__text">дрель, отрезная машина, набор пневматических приспособлений для покраски, нанесения антикоррозийных покрытий, продувки радиатора, накачки шин;</div>
        </li>
        <li class="equipment-list__item">
          <div class="equipment-list__name">Контейнеры</div>
          <div class="equipment-list__text">для слесарного инструмента и метизов;</div>
        </li>
        <li class="equipment-list__item">
          <div class="equipment-list__name">Откидной слесарный стол</div>
          <div class="equipment-list__text">с тисками.</div>
        </li>
      </ul>
    </div>
  </div>
</section>
