<div class="first-screen section">
  <div class="first-screen__text-wrapper">
    <h2 class="first-screen__text">
      ПАТОР
    </h2>
  </div>

  <img src="img/content/pator-front.png" id="pin1" class="pator-front pator-front--close" alt="">

</div>

<div id="trigger1" class="section section--front-close">
  <div class="section__wrapper">

    <div class="pator-el pator-el--left pator-el--1" data-fancybox data-src="#popup1">
      <img src="img/content/pator-el-1.png" alt="">

      <div class="svg-line svg-line-1">
        <svg width="236" height="340.5" viewBox="0 0 236 340.5">
          <g id="Group_70" data-name="Group 70" transform="translate(-533 -1387.5)">
            <circle id="Ellipse_6" data-name="Ellipse 6" cx="7" cy="7" r="7" transform="translate(755 1714)"
                    fill="#e4e4e4"/>
            <path id="svg-front-line-1" d="M1969,1363h228.956v325.54" transform="translate(-1436 26)" fill="none"
                  stroke="#e4e4e4" stroke-width="3" stroke-dasharray="3"/>
          </g>
        </svg>
      </div>


      <div class="pator-el__title">
       <span>
         Моечная установка
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg>
          <use xlink:href="#arrow-circle-icon">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup1" class="pator-el-modal">

        <img src="img/content/pator-el-moika-modal.png" class="modal-img" alt="">

        <div class="left-title">
          <span class="left-title__name">ПАТОР</span>
          <p class="left-title__text">ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ И&nbsp;РЕМОНТ</p>
        </div>

        <div class="modal-content">
          <h3 class="modal-content__title">Моечная установка</h3>
          <p class="modal-content__description">
            Позволяет производить тщательную мойку техники под давлением до 200 bar. Для помывки крупногабаритной
            техники можно использовать площадку с ограждениями на крыше ПАТОРа. Благодаря большому запасу воды (до 1,9
            куб. м), без дозаправки можно помыть 12-14 единиц техники.
            <br>
            <br>
            <span class="warning">Вторым</span>, не менее важным назначением моечной установки,
            является возможность тушения возгораний.
          </p>
        </div>
      </div>

    </div>

    <div class="pator-el pator-el--right pator-el--2" data-fancybox data-src="#popup2">
      <img src="img/content/pator-el-2.png" alt="">

      <div class="svg-line svg-line-2">
        <svg width="597.479" height="147.5" viewBox="0 0 597.479 147.5">
          <g id="svg-line-2" transform="translate(-870 -1387.5)">
            <circle id="Ellipse_5" data-name="Ellipse 5" cx="7" cy="7" r="7" transform="translate(870 1521)"
                    fill="#e4e4e4"/>
            <g id="svg-line-2-2" data-name="svg-line-2">
              <path id="svg-front-line-2" d="M3397.85,1440H2807.361v132" transform="translate(-1930.371 -51)"
                    fill="none" stroke="#e4e4e4" stroke-width="3" stroke-dasharray="3"/>
            </g>
          </g>
        </svg>
      </div>

      <div class="pator-el__title">
       <span>
         Ёмкость  1,9м<sup>2</sup>
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg>
          <use xlink:href="#arrow-circle-icon">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup2" class="pator-el-modal">

        <img src="img/content/pator-el-emkost-modal.png" class="modal-img" alt="">

        <div class="svg-line svg-line-open-1"></div>

        <div class="left-title">
          <span class="left-title__name">ПАТОР</span>
          <p class="left-title__text">ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ И&nbsp;РЕМОНТ</p>
        </div>

        <div class="modal-content">
          <h3 class="modal-content__title">Ёмкость</h3>
          <p class="modal-content__description">
            Высококачественная ёмкость из полиэтилена, объёмом 1,9 кубических метра.
            Объемом ёмкости хватает для проведения полного технического обслуживания с применением воды для 12-14 единиц
            техники.
            <br>
            <br>
            <br>
            <span class="warning">Дополнительной</span> важной особенностью является выполнение требования
            о наличии емкости с водой при выполнении зерноуборочных работ.
          </p>
        </div>
      </div>
    </div>

    <div class="pator-el pator-el--left pator-el--3" data-fancybox data-src="#popup3">
      <img src="img/content/pator-el-3.png" alt="">

      <div class="svg-line svg-line-3">
        <svg width="451" height="190.5" viewBox="0 0 451 190.5">
          <g id="Group_71" data-name="Group 71" transform="translate(-509 -1807)">
            <circle id="Ellipse_7" data-name="Ellipse 7" cx="7" cy="7" r="7" transform="translate(946 1807)"
                    fill="#e4e4e4"/>
            <path id="svg-front-line-3" d="M1969,1538.067h443.65V1363" transform="translate(-1460 457.933)" fill="none"
                  stroke="#e4e4e4" stroke-width="3" stroke-dasharray="3"/>
          </g>
        </svg>

      </div>

      <div class="pator-el__title">
       <span>
         Воздушный компрессор
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg>
          <use xlink:href="#arrow-circle-icon">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup3" class="pator-el-modal">

        <img src="img/content/pator-el-vozduh-compress-modal.png" class="modal-img" alt="">

        <div class="left-title">
          <span class="left-title__name">ПАТОР</span>
          <p class="left-title__text">ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ И&nbsp;РЕМОНТ</p>
        </div>

        <div class="modal-content">
          <h3 class="modal-content__title">Воздушный компрессор</h3>
          <p class="modal-content__description">
            Компрессорная установка снабжена двумя независимыми линиями раздачи воздуха – «сухой» и «мокрой». Сухая
            линия предназначена для продувки радиаторов, воздушных фильтров, проведения «сухой мойки», окрасочных работ
            и т. д. «Мокрая» линия обеспечивает подачу масляно-воздушной смеси для работы пневматического инструмента:
            дрелей, шлифовальных машин, пневмозубил, заточного инструмента, гайковерта и т. д.
          </p>
        </div>
      </div>
    </div>

    <div class="pator-el pator-el--right pator-el--4" data-fancybox data-src="#popup4">
      <img src="img/content/pator-el-4.png" alt="">

      <div class="svg-line svg-line-4">
        <svg width="363" height="321.5" viewBox="0 0 363 321.5">
          <g id="svg-line-4" transform="translate(-1039 -1728)">
            <circle id="Ellipse_8" data-name="Ellipse 8" cx="7" cy="7" r="7" transform="translate(1039 1728)"
                    fill="#e4e4e4"/>
            <path id="svg-front-line-4" d="M3163.857,1746.038h-356.5V1440" transform="translate(-1761.857 301.962)"
                  fill="none" stroke="#e4e4e4" stroke-width="3" stroke-dasharray="3"/>
          </g>
        </svg>

      </div>

      <span class="pator-el__title">
       <span>Сварка</span>
     </span>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg>
          <use xlink:href="#arrow-circle-icon">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup4" class="pator-el-modal">

        <img src="img/content/pator-el-svarochnaia-ustanovka-modal.png" class="modal-img" alt="">

        <div class="modal-content">
          <h3 class="modal-content__title">Сварочная установка</h3>
          <p class="modal-content__description">
            Позволяет выполнять сварочные работы электродами различного назначения, силой тока до 250 Ампер. <br>
            Рекомендуются электроды диаметром до 4 мм.
            <br>
            <br>
          </p>

          <blockquote class="modal-content__blockquote">
            <p>
              <span class="bold">ПАТОР</span> оборудован вмонтированными контейнерами для раздельной перевозки комплекта
              газосварочного оборудования.
            </p>
          </blockquote>
        </div>
      </div>
    </div>

  </div>
</div>
<div id="trigger2" class="section section--front-open">
  <div class="section__wrapper">

    <div class="pator-el pator-el--left pator-el-open--1" data-fancybox data-src="#popup5">
      <img src="img/content/pator-el-open-1.png" alt="">

      <div class="svg-line svg-line-open-1">
        <svg width="750" height="89.5" viewBox="0 0 750 89.5">
          <g id="svg-line-front-open-1" transform="translate(-533 -2638.5)">
            <circle id="Ellipse_13" data-name="Ellipse 13" cx="7" cy="7" r="7" transform="translate(1269 2714)"
                    fill="#e4e4e4"/>
            <path id="svg-line-front-open-1-2" data-name="svg-line-front-open-1" d="M1969,1363h742.289v74.347"
                  transform="translate(-1436 1277)" fill="none" stroke="#e4e4e4" stroke-width="3" stroke-dasharray="3"/>
          </g>
        </svg>
      </div>

      <div class="pator-el__title">
       <span>
         Отсек для хранения
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg>
          <use xlink:href="#arrow-circle-icon">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup5" class="pator-el-modal">

        <img src="img/content/pator-el-open-otsek-dlya-instrumentov.png" class="modal-img" alt="">

        <div class="modal-content">
          <h3 class="modal-content__title">Отсек для хранения инструментов</h3>
          <p class="modal-content__description">
            Четыре просторных отсека для хранения свободного назначения.
            Обычно используются для хранения запаса масел и других технических жидкостей.
            <br>
            <br>
          </p>

          <div class="modal-images">
            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">
          </div>
        </div>
      </div>

    </div>

    <div class="pator-el pator-el--right pator-el-open--2" data-fancybox data-src="#popup6">
      <img src="img/content/pator-el-open-2.png" alt="">

      <div class="svg-line svg-line-open-2">
        <svg width="196.479" height="381.5" viewBox="0 0 196.479 381.5">
          <g id="svg-line-front-open-2" transform="translate(-1472 -2787)">
            <path id="Path_13" data-name="Path 13" d="M2997.336,1806.2H2807.361V1440"
                  transform="translate(-1328.857 1360.798)" fill="none" stroke="#e4e4e4" stroke-width="3"
                  stroke-dasharray="3"/>
            <circle id="Ellipse_14" data-name="Ellipse 14" cx="7" cy="7" r="7" transform="translate(1472 2787)"
                    fill="#e4e4e4"/>
          </g>
        </svg>
      </div>

      <div class="pator-el__title">
       <span>
         блок кислородного балона
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg>
          <use xlink:href="#arrow-circle-icon">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup6" class="pator-el-modal">

        <img src="img/content/pator-el-block-pod-balon.png" class="modal-img" alt="">

        <div class="modal-content">
          <h3 class="modal-content__title">Блок под установку кислородного балона</h3>
          <p class="modal-content__description">
            Предназначен для перевозки баллона с кислородом, для использования газорезательного оборудования.
            Так же применяется для хранения моечного пистолета и штыря заземления.
            <br>
            <br>
          </p>

          <div class="modal-images">
            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="pator-el pator-el--left pator-el-open--3" data-fancybox data-src="#popup7">
      <img src="img/content/pator-el-open-3.png" alt="">

      <div class="svg-line svg-line-open-3">
        <svg width="451" height="260.5" viewBox="0 0 451 260.5">
          <g id="svg-line-front-open-3" transform="translate(-690 -2918)">
            <circle id="Ellipse_30" data-name="Ellipse 30" cx="7" cy="7" r="7" transform="translate(1127 2918)"
                    fill="#e4e4e4"/>
            <path id="Path_26" data-name="Path 26" d="M1969,1608.233h443.65V1363" transform="translate(-1279 1568.767)"
                  fill="none" stroke="#e4e4e4" stroke-width="3" stroke-dasharray="3"/>
          </g>
        </svg>
      </div>

      <div class="pator-el__title">
       <span>
         Отсек для хранения
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg>
          <use xlink:href="#arrow-circle-icon">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup7" class="pator-el-modal">

        <img src="img/content/pator-el-open-otsek-dlya-instrumentov2.png" class="modal-img" alt="">

        <div class="modal-content">
          <h3 class="modal-content__title">Отсек для хранения инструментов</h3>
          <p class="modal-content__description">
            Четыре нижних отсека применяются для хранения редко используемых инструментов и приспособлений. Один из
            отсеков занят оборудованием, предназначенным для выполнения сварочных работ.
            <br>
            <br>
          </p>

          <div class="modal-images">
            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="circle circle--1">
      <button type="button" class="rotate-btn">
        <span class="rotate-btn__inner">
          <svg width="23" height="28">
            <use xlink:href="#icon-rotate-arrow"></use>
          </svg>
          <span>смотреть с другой стороны</span>
        </span>
      </button>
    </div>

    <img id="pin2" src="img/content/pator-open.png" class="pator-front pator-front--open" alt="">
  </div>
</div>
<div id="trigger3" class="section section--front-open-side">
  <div class="section__wrapper">

    <div class="pator-el pator-el--left pator-el-open-side--1" data-fancybox data-src="#popup8">

      <img src="img/content/pator-el-open-side-1.png" alt="">

      <div class="svg-line svg-line-open-side-1">
        <svg width="636.521" height="266.5" viewBox="0 0 636.521 266.5">
          <g id="svg-line-open-side-1" transform="translate(-5133.479 -3165.5)">
            <path id="Path_25" data-name="Path 25" d="M2807.361,1440h629.5v257.771"
                  transform="translate(2326.118 1726.999)" fill="none" stroke="#e4e4e4" stroke-width="3"
                  stroke-dasharray="3"/>
            <circle id="Ellipse_29" data-name="Ellipse 29" cx="7" cy="7" r="7" transform="translate(5756 3418)"
                    fill="#e4e4e4"/>
          </g>
        </svg>

      </div>

      <div class="pator-el__title">
       <span>
         Откидной столик с тисками
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg>
          <use xlink:href="#arrow-circle-icon">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup8" class="pator-el-modal">

        <img src="img/content/pator-el-otkidnoy-stol.png" class="modal-img" alt="">

        <div class="modal-content">
          <h3 class="modal-content__title">Откидной столик с тисками</h3>
          <p class="modal-content__description">
            Зона слесарных работ с откидным столом и тисками
            <br>
            <br>
          </p>

          <div class="modal-images">
            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">
          </div>
        </div>
      </div>

    </div>

    <div class="pator-el pator-el--right pator-el-open-side--2" data-fancybox data-src="#popup9">
      <img src="img/content/pator-el-open-side-2.png" alt="">

      <div class="svg-line svg-line-open-side-2">
        <svg width="358.442" height="236.5" viewBox="0 0 358.442 236.5">
          <g id="svg-line-open-side-2" transform="translate(-4745 -2506.5)">
            <path id="Path_24" data-name="Path 24" d="M3158.976,1440H2807.361v221.069"
                  transform="translate(1944.467 1068)" fill="none" stroke="#e4e4e4" stroke-width="3"
                  stroke-dasharray="3"/>
            <circle id="Ellipse_22" data-name="Ellipse 22" cx="7" cy="7" r="7" transform="translate(4745 2729)"
                    fill="#e4e4e4"/>
          </g>
        </svg>

      </div>

      <div class="pator-el__title">
       <span>
         отсек под пневмоинструмент
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg>
          <use xlink:href="#arrow-circle-icon">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup9" class="pator-el-modal">

        <img src="img/content/pator-el-otsek-pnevmo.png" class="modal-img" alt="">

        <div class="modal-content">
          <h3 class="modal-content__title">отсек под пневмоинструмент И метизы</h3>
          <p class="modal-content__description">
            Зона выводов «сухой и «мокрой» линий пневмосистемы и присоединения широкого перечня пневмоинструмента.
            Выдвижные ящики для хранения метизов и других мелких деталей.
            <br>
            <br>
          </p>

          <div class="modal-images">
            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="pator-el pator-el--right pator-el-open-side--3" data-fancybox data-src="#popup10">
      <img src="img/content/pator-el-open-side-3.png" alt="">

      <div class="svg-line svg-line-open-side-3">
        <svg width="570.209" height="224.5" viewBox="0 0 570.209 224.5">
          <g id="svg-line-open-side-3" transform="translate(-4604 -2972)">
            <circle id="Ellipse_24" data-name="Ellipse 24" cx="7" cy="7" r="7" transform="translate(4604 2972)"
                    fill="#e4e4e4"/>
            <path id="Path_23" data-name="Path 23" d="M2532.913,1572.226H1969V1363"
                  transform="translate(2641.295 1622.775)" fill="none" stroke="#e4e4e4" stroke-width="3"
                  stroke-dasharray="3"/>
          </g>
        </svg>
      </div>

      <div class="pator-el__title">
       <span>
         блок пропанового баллона
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg>
          <use xlink:href="#arrow-circle-icon">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup10" class="pator-el-modal">

        <img src="img/content/pator-el-otsek-pod-propan.png" class="modal-img" alt="">

        <div class="modal-content">
          <h3 class="modal-content__title">отсек под установку пропанового баллона</h3>
          <p class="modal-content__description">
            Предназначен для перевозки баллона с пропаном, для использования газорезательного оборудования.
            <br>
            <br>
          </p>

          <div class="modal-images">
            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">

            <img src="img/content/empty-image.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <img id="pin3" src="img/content/pator-open-side.png" class="pator-front pator-front--open-side" alt="">

    <div class="circle circle--2">

    </div>
  </div>
</div>
