<div class="first-screen section">
  <div class="first-screen__text-wrapper">
    <h2 class="first-screen__text">
      ПАТОР
    </h2>
  </div>

  <img src="img/content/pator-front.png" id="pin1" class="pator-front pator-front--close" alt="">

</div>

<div id="trigger1" class="section section--front-close">
  <div class="section__wrapper">

    <div class="pator-el pator-el--top pator-el--left pator-el--1" data-fancybox data-src="#popup1">
      <img src="img/content/pator-el-1.png" alt="">

      <div class="svg-line svg-line-1">
        <span></span>
      </div>


      <div class="pator-el__title">
       <span>
         Моечная установка
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <span>
          <svg width="20" height="20">
          <use xlink:href="#icon-arrow-button">

          </use>
        </svg>
        </span>
      </button>

      <div style="display: none;" id="popup1" class="pator-el-modal">

        <img src="img/content/pator-el-moika-modal.png" class="modal-img" alt="">

        <div class="left-title">
          <span class="left-title__name">ПАТОР</span>
          <p class="left-title__text">ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ И&nbsp;РЕМОНТ</p>
        </div>

        <div class="modal-content">
          <h3 class="modal-content__title">Моечная установка</h3>
          <p class="modal-content__description">
            Позволяет производить тщательную мойку техники под давлением до 200 bar. Для помывки крупногабаритной
            техники можно использовать площадку с ограждениями на крыше ПАТОРа. Благодаря большому запасу воды (до 1,9
            куб. м), без дозаправки можно помыть 12-14 единиц техники.
            <br>
            <br>
            <span class="warning">Вторым</span>, не менее важным назначением моечной установки,
            является возможность тушения возгораний.
          </p>
        </div>
      </div>

    </div>

    <div class="pator-el pator-el--top pator-el--right pator-el--2" data-fancybox data-src="#popup2">
      <img src="img/content/pator-el-2.png" alt="">

      <div class="svg-line svg-line-2">
        <span></span>
      </div>

      <div class="pator-el__title">
       <span>
         Ёмкость  1,9м<sup>2</sup>
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg width="20" height="20">
          <use xlink:href="#icon-arrow-button">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup2" class="pator-el-modal">

        <img src="img/content/pator-el-emkost-modal.png" class="modal-img" alt="">

<!--        <div class="svg-line svg-line-open-1"></div>-->

        <div class="left-title">
          <span class="left-title__name">ПАТОР</span>
          <p class="left-title__text">ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ И&nbsp;РЕМОНТ</p>
        </div>

        <div class="modal-content">
          <h3 class="modal-content__title">Ёмкость</h3>
          <p class="modal-content__description">
            Высококачественная ёмкость из полиэтилена, объёмом 1,9 кубических метра.
            Объемом ёмкости хватает для проведения полного технического обслуживания с применением воды для 12-14 единиц
            техники.
            <br>
            <br>
            <br>
            <span class="warning">Дополнительной</span> важной особенностью является выполнение требования
            о наличии емкости с водой при выполнении зерноуборочных работ.
          </p>
        </div>
      </div>
    </div>

    <div class="pator-el pator-el--bottom pator-el--left pator-el--3" data-fancybox data-src="#popup3">
      <img src="img/content/pator-el-3.png" alt="">

      <div class="svg-line svg-line-3">
        <span></span>
      </div>

      <div class="pator-el__title">
       <span>
         Воздушный компрессор
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg width="20" height="20">
          <use xlink:href="#icon-arrow-button">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup3" class="pator-el-modal">

        <img src="img/content/pator-el-vozduh-compress-modal.png" class="modal-img" alt="">

        <div class="left-title">
          <span class="left-title__name">ПАТОР</span>
          <p class="left-title__text">ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ И&nbsp;РЕМОНТ</p>
        </div>

        <div class="modal-content">
          <h3 class="modal-content__title">Воздушный компрессор</h3>
          <p class="modal-content__description">
            Компрессорная установка снабжена двумя независимыми линиями раздачи воздуха – «сухой» и «мокрой». Сухая
            линия предназначена для продувки радиаторов, воздушных фильтров, проведения «сухой мойки», окрасочных работ
            и т. д. «Мокрая» линия обеспечивает подачу масляно-воздушной смеси для работы пневматического инструмента:
            дрелей, шлифовальных машин, пневмозубил, заточного инструмента, гайковерта и т. д.
          </p>
        </div>
      </div>
    </div>

    <div class="pator-el pator-el--bottom pator-el--right pator-el--4" data-fancybox data-src="#popup4">
      <img src="img/content/pator-el-4.png" alt="">

      <div class="svg-line svg-line-4">
        <span></span>
      </div>

      <span class="pator-el__title">
       <span>Сварка</span>
     </span>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg width="20" height="20">
          <use xlink:href="#icon-arrow-button">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup4" class="pator-el-modal">

        <img src="img/content/pator-el-svarochnaia-ustanovka-modal.png" class="modal-img" alt="">

        <div class="modal-content">
          <h3 class="modal-content__title">Сварочная установка</h3>
          <p class="modal-content__description">
            Позволяет выполнять сварочные работы электродами различного назначения, силой тока до 250 Ампер. <br>
            Рекомендуются электроды диаметром до 4 мм.
            <br>
            <br>
          </p>

          <blockquote class="modal-content__blockquote">
            <p>
              <span class="bold">ПАТОР</span> оборудован вмонтированными контейнерами для раздельной перевозки комплекта
              газосварочного оборудования.
            </p>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="circle circle--brown"></div>

  </div>
</div>
<div id="trigger2" class="section section--front-open">
  <div class="section__wrapper">

    <div class="pator-el pator-el--top pator-el--left pator-el-open--1" data-fancybox data-src="#popup5">
      <img src="img/content/pator-el-open-1.png" alt="">

      <div class="svg-line svg-line-open-1">
        <span></span>
      </div>

      <div class="pator-el__title">
       <span>
         Отсек для хранения
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg width="20" height="20">
          <use xlink:href="#icon-arrow-button">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup5" class="pator-el-modal">

        <img src="img/content/pator-el-open-otsek-dlya-instrumentov.png" class="modal-img" alt="">

        <div class="modal-content">
          <h3 class="modal-content__title">Отсек для хранения инструментов</h3>
          <p class="modal-content__description">
            Четыре просторных отсека для хранения свободного назначения.
            Обычно используются для хранения запаса масел и других технических жидкостей.
            <br>
            <br>
          </p>

          <div class="modal-images">
            <img src="img/content/otsek-1.png" alt="">

            <img src="img/content/otsek-2.png" alt="">

            <img src="img/content/otsek-3.png" alt="">

            <img src="img/content/otsek-4.png" alt="">
          </div>
        </div>
      </div>

    </div>

    <div class="pator-el pator-el--bottom pator-el--right pator-el-open--2" data-fancybox data-src="#popup6">
      <img src="img/content/pator-el-open-2.png" alt="">

      <div class="svg-line svg-line-open-2">
        <span></span>
      </div>

      <div class="pator-el__title">
       <span>
         блок кислородного балона
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg width="20" height="20">
          <use xlink:href="#icon-arrow-button">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup6" class="pator-el-modal">

        <img src="img/content/pator-el-block-pod-balon.png" class="modal-img" alt="">

        <div class="modal-content">
          <h3 class="modal-content__title">Блок под установку кислородного балона</h3>
          <p class="modal-content__description">
            Предназначен для перевозки баллона с кислородом, для использования газорезательного оборудования.
            Так же применяется для хранения моечного пистолета и штыря заземления.
            <br>
            <br>
          </p>

          <div class="modal-images">
            <img src="img/content/block-balon-1.png" alt="">

            <img src="img/content/block-balon-2.png" alt="">

            <img src="img/content/block-balon-3.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="pator-el pator-el--bottom pator-el--left pator-el-open--3" data-fancybox data-src="#popup7">
      <img src="img/content/pator-el-open-3.png" alt="">

      <div class="svg-line svg-line-open-3">
        <span></span>
      </div>

      <div class="pator-el__title">
       <span>
         Отсек для хранения
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg width="20" height="20">
          <use xlink:href="#icon-arrow-button">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup7" class="pator-el-modal">

        <img src="img/content/pator-el-open-otsek-dlya-instrumentov2.png" class="modal-img" alt="">

        <div class="modal-content">
          <h3 class="modal-content__title">Отсек для хранения инструментов</h3>
          <p class="modal-content__description">
            Четыре нижних отсека применяются для хранения редко используемых инструментов и приспособлений. Один из
            отсеков занят оборудованием, предназначенным для выполнения сварочных работ.
            <br>
            <br>
          </p>

          <div class="modal-images">
            <img src="img/content/otsek-dla-instrumentov-1.png" alt="">

            <img src="img/content/otsek-dla-instrumentov-2.png" alt="">

            <img src="img/content/otsek-dla-instrumentov-3.png" alt="">

            <img src="img/content/otsek-dla-instrumentov-4.png" alt="">
          </div>
        </div>
      </div>
    </div>

<!--    <div class="circle circle&#45;&#45;1">-->
<!--      <button type="button" class="rotate-btn">-->
<!--        <span class="rotate-btn__inner">-->
<!--          <svg width="23" height="28">-->
<!--            <use xlink:href="#icon-rotate-arrow"></use>-->
<!--          </svg>-->
<!--          <span>смотреть с другой стороны</span>-->
<!--        </span>-->
<!--      </button>-->
<!--    </div>-->

    <div class="circle circle--2 circle--mobile">

    </div>

    <img id="pin2" src="img/content/pator-open.png" class="pator-front pator-front--open" alt="">
  </div>
</div>
<div id="trigger3" class="section section--front-open-side">
  <div class="section__wrapper">

    <div class="pator-el pator-el--top pator-el--left pator-el-open-side--1" data-fancybox data-src="#popup8">

      <img src="img/content/pator-el-open-side-1.png" alt="">

      <div class="svg-line svg-line-open-side-1">
        <span></span>
      </div>

      <div class="pator-el__title">
       <span>
         Откидной столик с тисками
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg width="20" height="20">
          <use xlink:href="#icon-arrow-button">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup8" class="pator-el-modal">

        <img src="img/content/pator-el-otkidnoy-stol.png" class="modal-img" alt="">

        <div class="modal-content">
          <h3 class="modal-content__title">Откидной столик с тисками</h3>
          <p class="modal-content__description">
            Зона слесарных работ с откидным столом и тисками
            <br>
            <br>
          </p>

          <div class="modal-images">
            <img src="img/content/stolik-1.png" alt="">

            <img src="img/content/stolik-2.png" alt="">

            <img src="img/content/stolik-3.png" alt="">

            <img src="img/content/stolik-4.png" alt="">
          </div>
        </div>
      </div>

    </div>

    <div class="pator-el pator-el--top pator-el--right pator-el-open-side--2" data-fancybox data-src="#popup9">
      <img src="img/content/pator-el-open-side-2.png" alt="">

      <div class="svg-line svg-line-open-side-2">
        <span></span>
      </div>

      <div class="pator-el__title">
       <span>
         отсек под пневмоинструмент
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg width="20" height="20">
          <use xlink:href="#icon-arrow-button">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup9" class="pator-el-modal">

        <img src="img/content/pator-el-otsek-pnevmo.png" class="modal-img" alt="">

        <div class="modal-content">
          <h3 class="modal-content__title">отсек под пневмоинструмент и метизы</h3>
          <p class="modal-content__description">
            Зона выводов «сухой и «мокрой» линий пневмосистемы и присоединения широкого перечня пневмоинструмента.
            Выдвижные ящики для хранения метизов и других мелких деталей.
            <br>
            <br>
          </p>

          <div class="modal-images">
            <img src="img/content/otsek-pod-metizi-1.png" alt="">

            <img src="img/content/otsek-pod-metizi-2.png" alt="">

            <img src="img/content/otsek-pod-metizi-3.png" alt="">

            <img src="img/content/otsek-pod-metizi-4.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="pator-el pator-el--bottom pator-el--right pator-el-open-side--3" data-fancybox data-src="#popup10">
      <img src="img/content/pator-el-open-side-3.png" alt="">

      <div class="svg-line svg-line-open-side-3">
        <span></span>
      </div>

      <div class="pator-el__title">
       <span>
         блок пропанового баллона
       </span>
      </div>

      <button class="pator-el__button" type="button" aria-label="Open">
        <svg width="20" height="20">
          <use xlink:href="#icon-arrow-button">

          </use>
        </svg>
      </button>

      <div style="display: none;" id="popup10" class="pator-el-modal">

        <img src="img/content/pator-el-otsek-pod-propan.png" class="modal-img" alt="">

        <div class="modal-content">
          <h3 class="modal-content__title">отсек под установку пропанового баллона</h3>
          <p class="modal-content__description">
            Предназначен для перевозки баллона с пропаном, для использования газорезательного оборудования.
            <br>
            <br>
          </p>

          <div class="modal-images">
            <img src="img/content/otsek-propan-balon-1.png" alt="">

            <img src="img/content/otsek-propan-balon-2.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <img id="pin3" src="img/content/pator-open-side.png" class="pator-front pator-front--open-side" alt="">

    <div class="circle circle--2 circle--mobile">

    </div>
  </div>
</div>
