<div class="form-block">
  <div class="container">
    <div class="form-wrapper">

      <div class="section-title form-block__title">Свяжитесь с нами</div>
      <div class="section-description form-block__description">Ответим на все вопросы, проконсультируем по условиям</div>

      <form action="" method="POST" class="feedback-form">
        <div class="input-wrapper input-wrapper--email">
          <input id="email" type="email" name="email">
          <label class="label" for="email">Email</label>
        </div>
        <div class="input-wrapper">
          <input id="name" type="text" name="name">
          <label class="label" for="name">Имя</label>
        </div>
        <div class="input-wrapper input-wrapper--textarea">
          <textarea name="text" id="" placeholder="Сообщение"></textarea>
        </div>

        <button class="main-btn" type="submit">ОТПРАВИТЬ</button>
      </form>
    </div>
  </div>
</div>
