<section id="capabilities" class="pator-task">
 <div class="container">
   <h2 class="section-title">Прицепной агрегат технического обслуживания и ремонта</h2>
   <p class="section-description">
     решает следующие задачи
   </p>

   <ul class="task-list">
     <li class="task-list__item">
       <div class="task-list__icon">
         <svg width="61" height="55">
           <use xlink:href="#icon-task-1"></use>
         </svg>
       </div>
       <div class="task-list__content">
         <span class="task-list__name">Наружная очистка</span>
         <span class="task-list__text">Мойка машин под давлением</span>
       </div>
     </li>
     <li class="task-list__item">
       <div class="task-list__icon">
         <svg width="68" height="47">
         <use xlink:href="#icon-task-2"></use>
       </svg>
       </div>
       <div class="task-list__content">
         <span class="task-list__name">Слесарные работы</span>
         <span class="task-list__text">С применением пневмоинструмента</span>
       </div>
     </li>
     <li class="task-list__item">
       <div class="task-list__icon">
         <svg width="57" height="57">
         <use xlink:href="#icon-task-3"></use>
       </svg>
       </div>
       <div class="task-list__content">
         <span class="task-list__name">Постановка на хранение</span>
         <span class="task-list__text">Сезонная подготовка и консервирование техники</span>
       </div>
     </li>
     <li class="task-list__item">
       <div class="task-list__icon">
         <svg width="47" height="64">
         <use xlink:href="#icon-task-4"></use>
       </svg>
       </div>
       <div class="task-list__content">
         <span class="task-list__name">Электросварка и газорезка</span>
         <span class="task-list__text">Силой тока до 250 А</span>
       </div>
     </li>
     <li class="task-list__item">
       <div class="task-list__icon">
         <svg width="64" height="59">
         <use xlink:href="#icon-task-5"></use>
       </svg>
       </div>
       <div class="task-list__content">
         <span class="task-list__name">Накачка шин, продув радиаторов</span>
         <span class="task-list__text">Воздушным компрессором</span>
       </div>
     </li>
     <li class="task-list__item">
       <div class="task-list__icon">
         <svg width="64" height="59">
         <use xlink:href="#icon-task-6"></use>
       </svg>
       </div>
       <div class="task-list__content">
         <span class="task-list__name">Покраска и антикорозийная обработка</span>
         <span class="task-list__text">Спецтехники и инструментов</span>
       </div>
     </li>
   </ul>

   <div class="warning-fire-safety">
    <svg width="77" height="71" class="warning-fire-safety__icon">
      <use xlink:href="#icon-warning"></use>
    </svg>

     <h3 class="warning-fire-safety__title">Обеспечение противопожарной безопасности </h3>
     <p class="warning-fire-safety__text">
       Дополнительной важной особенностью ПАТОРА является выполнение требования
       о наличии емкости с водой при выполнении зерноуборочных работ
     </p>
   </div>
 </div>
</section>
