<section id="price" class="price">
  <div class="container">
    <h2 class="section-title">Цена и типы</h2>
    <p class="section-description">
      Возможные модификации ПАТОРа
    </p>

    <div class="price__grid">
      <div class="price__item">
        <div class="price-top">
          <div class="price-top-left">
            <div class="price-title">ПАТОР С</div>
            <div class="price-num">680 000</div>
          </div>
          <div class="price-img">
            <img src="img/content/pator-price.png" alt="">
          </div>
        </div>

        <div class="price-equipment">
          <div class="price-equipment__title">КОМПЛЕКТАЦИЯ</div>

          <div class="price-equipment__list">
            <li>ёмкость для жидкостей <br> 1,9 м.куб.</li>
            <li>моечная установка <br> с регулятором</li>
            <li>воздушный компрессор</li>
            <li>сварочная установка</li>
            <li>пневмоинструмент</li>
            <li>контейнеры для слесарного инструмента и метизов;</li>
            <li>откидной слесарный стол с тисками.</li>
          </div>

          <button data-fancybox data-src="#form-required1" class="main-btn order-btn" type="button" data-product-name="ПАТОР С">
            Заказать
          </button>
        </div>

        <button type="button" data-fancybox data-src="#additional-options1"  class="add-option" aria-label="open options">
          <span>
            Доступыне опции

            <i>
              <svg width="19" height="19">
                <use xlink:href="#icon-arrow-button"></use>
              </svg>
            </i>
          </span>
        </button>
      </div>

      <div class="price__additions">
        <div class="price__addition-item">
          <div class="price-title">ПАТОР А</div>

          <div class="addition-name">
            <span>ПАТОР С ДВИГАТЕЛЕМ LAMBORGINI</span>

            <div class="addition-name-plus">+энергоустановка мощностью 12 Квт., напряжением 220/380 В</div>
          </div>

          <div class="price-num">
            + 520 000
          </div>

          <div class="addition-bottom">

            <button data-fancybox data-src="#form-required2" class="main-btn order-btn main-btn--light" type="button" data-product-name="ПАТОР А">
              Заказать
            </button>

            <button data-fancybox data-src="#additional-options2" type="button" class="add-option" aria-label="open options">
                <span>
                  Доступыне опции

                  <i>
                    <svg width="19" height="19">
                      <use xlink:href="#icon-arrow-button"></use>
                    </svg>
                  </i>
                </span>
            </button>
        </div>
      </div>
      <div class="price__addition-item">
        <div class="price-title">ПАТОР на шасси ГАЗ</div>

        <div class="addition-name">
              <span>
                автомобиль ГАЗ предоставляет заказчик
              </span>
        </div>

        <div class="price-num">
          + 120 000
        </div>

        <div class="addition-bottom">

          <button data-fancybox data-src="#form-required3" class="main-btn order-btn main-btn--light" type="button" data-product-name="ПАТОР на шасси ГАЗ">
            Заказать
          </button>

          <button data-fancybox data-src="#additional-options3"  type="button" class="add-option" aria-label="open options">
                <span>
                  Доступыне опции

                  <i>
                    <svg width="19" height="19">
                      <use xlink:href="#icon-arrow-button"></use>
                    </svg>
                  </i>
                </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
