<section class="warranty">
  <div class="container">
    <h2 class="section-title">Гарантия качества</h2>
    <h2 class="section-description">Производим ПАТОР с 2005 года</h2>

    <ul class="warranty__list">
      <li class="warranty__item">
        <div class="warranty__num">
          15
        </div>
        <div class="warranty__text">
          лет производим ПАТОР
        </div>
      </li>
      <li class="warranty__item">
        <div class="warranty__num">
          42
        </div>
        <div class="warranty__text">
          региона Росии и Казахстан
        </div>
      </li>
      <li class="warranty__item">
        <div class="warranty__num">
          300
        </div>
        <div class="warranty__text">
          Хозяйств используют ПАТОР
        </div>
      </li>
      <li class="warranty__item">
        <div class="warranty__num">
          800
        </div>
        <div class="warranty__text">
          ПАТОРов создано
        </div>
      </li>
    </ul>
  </div>
</section>
